*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.movies-container-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 200px;
}

.movie-card{
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    row-gap: 20px;  
}

.movie-card img{
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05); 
  
    /* Animates both properties over 0.3 seconds */
    transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1), box-shadow 0.3s ease;
}
.movie-card img:hover{
    transform: scale(1.05);

    
    /* Makes the shadow larger, softer, and more spread out */
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.12); 
}



.movie-card button{
    color: #fff;
    background-color: rgb(44, 44, 182);
    width: 100px;
    border: none;
    border-radius: 2px;
    padding: 8px;
    cursor: pointer;
}
.movie-card button:hover{
    background-color: rgba(44, 44, 182, 0.945);
}

footer{
    padding: 20px 0;
}

/*UTILITY CLASSES*/
.center{
    place-self: center;
}