*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.movies-container-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.movie-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.movie-card button{
    color: #fff;
    background-color: blue;
}